<% if signed_in? %>
  <div class="row-fluid">
    <aside class="span12">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%#= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
  </div>
  
    <div class="row-fluid">
    <div class="span12">
    <%= link_to "Find a Super", users_path,
	      						class: "btn btn-block btn-large btn-warning"%>
      <h5>All Conditions Updates</h5>
      <%= render 'shared/feed' %>
    </div>
    </div>
    <%= render 'shared/boilerplate_conditions_feed' %>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1>Supers App</h1>

    <h2>
      An application for Golf Course Superintendents
    </h2>

    <%= link_to "Sign In", signin_path, 
                                class: "btn btn-large btn-primary btn-success" %>
                                
    <%= link_to "Sign up", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

  <%#= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %> 