<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row-fluid">
  <div class="span12">
    <%= form_for(:session, url: sessions_path) do |f| %>

<%= f.text_area :email, placeholder: "Email" %>
<%= f.text_area :password, placeholder: "Password" %>

      
      <div class="hero-unit"><h1>Hit Green Bar to Login</h1><%= f.submit "", class: "btn btn-block btn-large btn-success" %></div>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>