<% provide(:title, "Sign in") %>
<h1>Sign in to SupersApp </h1>

<div class="row-fluid">
  <div class="span12">
    <%= form_for(:session, url: sessions_path) do |f| %>

<%= f.text_area :email, placeholder: "Email" %>
<%= f.text_area :password, placeholder: "Password" %>

      
      
      <div class="row-fluid"><h6><%= f.submit "Sign In", class: "bigbutton" %></h6></div>
      
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>