<% provide(:title, 'Sign up') %>
<h1>Sign Up to SupersApp</h1>

<div class="row-fluid">
  <div class="span12">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.text_area :name, placeholder: "Name" %>
      


      <%= f.text_area :email, placeholder: "Email" %>


      <h3>Select Course You Work At</h3>
      <%= f.select(:course, [["Biderman"], ["Concord"], ["Delaware Park"], ["Deerfield"], ["Delcastle"], ["Fieldstone"], ["Kennett"], ["Penn Oaks"],["Radley Run"], ["Rock Manor"]]) %>


      <%= f.text_area :password, placeholder: "Password" %>


      
      <%= f.text_area :password_confirmation, placeholder: "Confirmation (type same as above)" %>

      
        <div class="hero-unit"><h1>Hit Green Bar to Create Account</h1><%= f.submit "", class: "btn btn-block btn-large btn-success" %></div>

      
    <% end %>
  </div>
</div>