<% provide(:title, @user.name) %>
<div class="row">
    <div class="span8">

    <%= render 'follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
    
    <div class="row">
    <%= render 'shared/boilerplate_conditions_feed' %>
    </div>
    <div class="row">
        <h2><%= link_to @user.name %></h2>
      </div>
      <div class="row">
        <p><%=  @user.course %></p>
      </div>

    <div class="row">
      <h2> Conditions Updates (<%= @user.microposts.count %>)</h2>
    </div>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>