<% provide(:title, @user.name) %>
<div class="row-fluid">
    <div class="span12">

    <section>
    <% if @user.microposts.any? %>
    </section>

    <section>
    <%= render 'follow_form' if signed_in? %>
    </section>
    <div class="row-fluid">
        <h1><%= link_to @user.name %>  <%=  @user.course %></h1>
      </div>
    

<div class="span12">
    <div class="row-fluid">
      <h2> Conditions Update (<%= @user.microposts.count %>)</h2>
    </div>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
      <div class="row">
    <%= render 'shared/boilerplate_conditions_feed' %>
    </div>
    </div>
</div>