<li>
<span class="user">
      <p><%= link_to @user.name %> - <i><%= @user.course %></i></span></p>

  <span class="content"><p><%= micropost.content %></p></span>
  <p><%= link_to image_tag("golfcart.png", alt: "Golf Cart") %><strong> <%= micropost.status %></strong></p>
  <span class="timestamp"><p>
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </p></span>
  <% if current_user?(micropost.user) %>
    <%= link_to "delete", micropost, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: micropost.content %>
  <% end %>
</li>
