<% if signed_in? %>

<div class="container-fluid">
<footer class="footer">

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
<div class="navbar-inner">
    <div class="span3">
    <div class="row-fluid">
      <%= link_to image_tag("home.png", alt: "home"), root_path %>
    </div>
      <div class="row-fluid">
	  <%= link_to "Home", root_path, id: "footernav" %>
      </div>
    </div>
    <div class="span3">
    <div class="row-fluid pull-center">
      <%= link_to image_tag("golfcart.png", alt: "Golf Cart"), root_path %>
    </div>
      <div class="row-fluid pull-center">
	  <%= link_to "Update", root_path, id: "footernav" %>
      </div>
    </div>
    <div class="span3">
    <div class="row-fluid pull-center">
      <%= link_to image_tag("home.png", alt: "home"), users_path %>
    </div>
      <div class="row-fluid pull-center">
	  <%= link_to "Search", users_path, id: "footernav" %>
      </div>
    </div>
    <div class="span3">
    <div class="row-fluid pull-center">
      <%= link_to image_tag("home.png", alt: "home"), edit_user_path(current_user) %>
    </div>
      <div class="row-fluid pull-center">
	  <%= link_to "Admin", edit_user_path(current_user), id: "footernav" %>
	  
      </div>
    </div>

    
    
  </div>
</nav>

</footer>
</div>

 <% end %>